doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title My Blog - Luis Aguilera Garcia
  link(rel='stylesheet' href='styles.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
  script(src='script.js' defer='')
  script(src='nav.js' defer='')
nav.nav
  .nav__logo
    a(href='/') Luis Aguilera Garcia
  a.nav__hamburger
    span.nav__hamburger__line
    span.nav__hamburger__line
    span.nav__hamburger__line
  .nav__menu
    div
      #register-div
        h1 Register
        form#register-form
          input#register-username(type='text' placeholder='Username')
          input#register-password(type='password' placeholder='Password')
          select#register-role
            option(value='reader') Reader
            option(value='admin') Admin
          button(type='submit') Register
      #logout-div
        h2#username Username
        button#logout-button Logout
      #login-div
        h1 Login
        form#login-form
          input#login-username(type='text' placeholder='Username')
          input#login-password(type='password' placeholder='Password')
          button#login-button(type='submit') Login
main
  #posts-list
  #new-post-div(style='display: none')
    h2 New Post
    form#new-post-form
      input#title(type='text' placeholder='Title')
      textarea#content(placeholder='Content')
      input#image-url(type='text' placeholder='Image URL')
      button(type='submit') Create post
  #post-detail-container
footer
  h3 Luis Aguilera Garcia
  p
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illum
    | dolorum hic totam et perferendis? Nisi ipsum omnis dolor harum.
  span
    p &copy;
    script.
      document.write(new Date().getFullYear());
